<%- include('partials/header') -%>
<main class="container">
  <section class="py-5">
    <div class="container">
        <div class="row">
          <h1>About</h1>
        </div>
        <div class="row">
            <p>Welcome to the Hike Site, a corner of the web for folks to share their hikes with other curious treckers.</p>

            <p>On this site, we welcome you to:</p>
        </div>   
        <!-- <div class="row" class="ps-8"> -->
          <ul>
              <li>record your favorite hikes and share them with others</li>
              <li>peruse hikes that others have posted</li>
              <li>curate a list of favorite hikes</li>
          </ul>
        <!-- </div> -->
            
        <div class="row">
          <p>Sound good? You can <a class="link-light" href="/signup">sign up right now.</a></p>
        </div>
    </div>

    <div class="container">
      <div class="col-12">
        <div class="row">
          <div class="row">
              <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                <div class="card h-100">
                    <img src="https://finglewoods.org.uk/wp-content/uploads/2020/01/winter-woods.jpg" class="card-img-top" alt="Card Image">
                  <div class="card-body d-flex flex-column">
                    <div class="card-text d-flex justify-content-between">
                      <h5 class="card-title">Late autumn walk by my house</h5>
                      <div><i class="fa fa-heart" style='color: red'></i> 15</div>
                    </div>
                    <p class="text-muted small">From: Jaybird</p>
                    <p class="card-text mb-4">Grabbed the dogs and had an awesome afternoon.</p>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                <div class="card h-100">
                    <img src="https://newenglandwithlove.com/wp-content/uploads/2021/05/cape-cod-hikes-header-image.jpg" class="card-img-top" alt="Card Image">
                  <div class="card-body d-flex flex-column">
                    <div class="card-text d-flex justify-content-between">
                      <h5 class="card-title">Finally explored hidden Cape Cod!</h5>
                      <div><i class="fa fa-heart" style='color: red'></i> 22</div>
                    </div>
                    <p class="text-muted small">From: Mom</p>
                    <p class="card-text mb-4">Was just beautiful out here today!</p>
                  </div>
                </div>
              </div>
          </div>
    
      </div>
    </div>
    
  </section>
</main>

<%- include('partials/footer') -%>