<%- include('partials/header') -%>

<section class="p-5">
    <div class="container">
        <div class="row">
          <h1>About</h1>
        </div>
        <div class="row">
            <p>Welcome to the Hike Site, a corner of the web for folks to share their hikes with other curious treckers.</p>

            <p>On this site, we welcome you to:</p>
        </div>   
        <!-- <div class="row" class="ps-8"> -->
          <ul>
              <li>record your favorite hikes and share them with others</li>
              <li>peruse hikes that others have posted</li>
              <li>curate a list of favorite hikes that others from the community have posted</li>
          </ul>
        <!-- </div> -->
            
        <div class="row">
          <p>Sound good? You can <a class="link-light" href="/signup">sign up right now.</a></p>
        </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-5 p-1">
          <div class="card h-100">
            <div class="card-header">Late autumn walk by my house</div>
            <div class="card-body"> 
              <img class="card-img-top" src="https://finglewoods.org.uk/wp-content/uploads/2020/01/winter-woods.jpg" alt="Card image cap">
              <div class="card-text d-flex justify-content-between text-muted">
                <div>From: Jaybird</div>
                <div><i class="fa fa-heart"></i> 15</div>
              </div>
              <p class="card-text">Grabbed the dogs and had an awesome afternoon.</p>  
            </div>
          </div>
        </div>
        <div class="col-sm-5 p-1">
          <div class="card h-100">
            <div class="card-header">Finally explored hidden Cape Cod!</div>
            <div class="card-body"> 
              <img class="card-img-top" src="https://newenglandwithlove.com/wp-content/uploads/2021/05/cape-cod-hikes-header-image.jpg" alt="Card image cap">
              <div class="card-text d-flex justify-content-between text-muted">
                <div>From: Mom</div>
                <div><i class="fa fa-heart"></i> 22</div>
              </div>
              <p class="card-text">Was just beautiful out here today!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
</section>

<%- include('partials/footer') -%>