<%- include('partials/header') -%>

    <section class="p-5">
        <div class="container">
            <div class="row">
              <h1>Welcome to the Hike Site</h1>
            </div>
            <div class="row">
                <h4>Share your hikes with other curious treckers.</h4>
            </div>
        </div>
    </section>

    <section class="p-5">
        <div class="container">
            <div class="row justify-content-start mt-5">
                <!-- <a href="/login" class="col-3 btn btn-primary mr-4">Sign in</a>
                <a href="/signup" class="col-3 btn btn-primary mr-4">Join</a> -->
                <a href="/signup" class="col-5 btn btn-primary mr-4">Begin Your Adventure</a>
            </div>
        </div>
    </section>

    <!-- Leon's code:
    <div class="container">
        <div class="row justify-content-around mt-5">
            <a href="/login" class="col-3 btn btn-primary">Sign in</a>
            <a href="/signup" class="col-3 btn btn-primary">Join</a>
        </div>
    </div> -->

<%- include('partials/footer-CreatedBy') -%>